/*font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;*/
html, body {
  margin: 0px;
  padding: 0px;
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: white;
    top: 0px;
    left: 235px;
    padding-top: 20px;
    position: fixed;
    background-position: center;
    width: 76%;
    height: 60px;
    display: inline-block;
}
nav a {
    position: relative;
    color: black;
    padding: 0px 30px;
    height: 60px;
    line-height: 60px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;
    font-size: 1.1em;
    float: right;
    clear: none;
    vertical-align: bottom;
    
}

nav a:hover {
    color: #2f599b;
}


.logo {
    float: left;
    

}

#cover{
    background-image: url(images/front.jpg);
    background-size: 75%;
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;

}

#welcome {
    padding: 20px;
    position: fixed;
    bottom: 35%;
    right: 18%;
    height: 100px;
    margin-top:;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
}

.action a:link, a:visited {
    color: white; 
    font-family: 'Roboto', sans-serif;
    background-color: #2f599b;
    text-decoration: none;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    }

.action a:hover {
    color: #FFC55E;
    text-decoration: none;
}

#twitter {
    padding: 20px;
    position: fixed;
    bottom: 16%;
    right: 32.7%;
    height: 150px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 220px;
}

#twitter a:link, a:visited {
    color: #2f599b;
    font-family: 'Roboto', sans-serif;
}

#twitter a:hover {
    color: #FFC55E;
    text-decoration: none;
}

#facebook {
    padding: 20px;
    position: fixed;
    bottom: 16%;
    right: 18%;
    height: 150px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 220px;
}

#facebook a:link, a:visited {
    color: #2f599b;
    font-family: 'Roboto', sans-serif;
}

#facebook a:hover {
    color: #FFC55E;
    text-decoration: none;
    
}
/*.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;*/
}

/*#main1 {
    background-image: url(images/front.jpg); 
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:fixed;
    }*/

.footer {
    background-color: white;
    position: fixed;
    width: 800px;
    height: 20px;
    bottom: 0px;
    clear: none;
}

.footer ul {
    color: black;
    padding: 3px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 700;
    float: left;
    clear: none;
    vertical-align: middle;
    display: inline;
    bottom: 0px;
    font-family: 'Roboto', sans-serif;
    list-style-image: none;
    display: inline;
}

.footer a:link, a:visited {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: #2f599b;
    text-decoration: none;
}