/*font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;*/

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}


/*Header & Nav Bar*/

header {
    background-color: white;
    top: 0px;
    left: 235px;
    padding-top: 20px;
    position: fixed;
    background-position: center;
    width: 76%;
    height: 60px;
    display: inline-block;
}

nav a {
    position: relative;
    color: black;
    padding: 0px 30px;
    height: 60px;
    line-height: 60px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;
    font-size: 1.1em;
    float: right;
    clear: none;
    vertical-align: bottom;
}

nav a:hover {
    color: #2f599b;
}

.logo {
    float: left;
}


/*Background image info*/

#home {
    background-image: url(images/front1.jpg);
    background-size: 75%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#about {
    background-image: url(images/guys.jpg);
    background-size: 75%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#visit {
    background-image: url(images/tour.jpg);
    background-size: 75%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#where {
    background-image: url(images/buffalo.jpg);
    background-size: 75%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#news {
    background-image: url(images/news.jpg);
    background-size: 75%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#products {
    background-image: url(images/vodka.jpg);
    background-size: 75%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


/* Box that contains textboxes*/

.homepagebox {
    position: fixed;
    bottom: 25%;
    right: 20%;
    height: 400px;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    width: 510px;
}

.aboutbox {
    position: fixed;
    bottom: 25%;
    right: 20%;
    height: 400px;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    width: 510px;
}


/* FYI product box is also visit box*/

.productbox {
    position: fixed;
    bottom: 15%;
    left: 15%;
    height: 200px;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    width: 700px;
}

.wherebox {
    position: fixed;
    top: 15%;
    left: 15%;
    height: 800px;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    width: 700px;
}

.newsbox {
    position: fixed;
    top: 15%;
    left: 15%;
    height: 800px;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    width: 1300px;
}


/* Page Title*/

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    opacity: 0.8;
    color: white;
    margin-bottom: -18px;
}


/*Upper Text Section*/


/*Intro box is also About box*/

.intro {
    padding: 20px;
    height: auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 470px;
}

.productintro {
    padding: 20px;
    height: auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 700px;
}

.whereintro {
    padding: 20px;
    height: auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 700px;
}

.newsintro {
    position: relative;
    padding: 20px;
    float: left;
    height: auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}


/*Bio Signatures*/

.sig {
    font-family: 'Rock Salt', cursive;
    font-size: 1.2em;
}


/*Lower Lower Section*/

.history {
    margin-top: 10px;
    margin-right: 1px;
    padding: 20px;
    /*height: 150px;*/
    float: left;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    /*width: 210px;*/
}


/*twitter is for homepage*/

.twitter {
    margin-top: 10px;
    margin-right: 1px;
    height: 390px;
    float: left;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}


/*Call to Action Link*/

.action {
    background-color: #2f599b;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    /*width: auto;
    height: auto;*/
}

.action a:link {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.action a:hover {
    color: #FFC55E;
    text-decoration: none;
}

.action a:visited {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*Where Table Headers*/

th {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
}


/*Footer*/

footer {
    background-color: white;
    position: fixed;
    width: 800px;
    height: 20px;
    bottom: 0px;
    float: left;
    clear: none;
    padding-top: 50px;
    padding-right: 1000px;
    /*margin-left: 20%;*/
}

.footer ul {
    color: black;
    background-color: white;
    padding: 3px;
    /*text-align: left;*/
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 700;
    float: left;
    left: 30%;
    vertical-align: middle;
    display: inline;
    bottom: 50px;
    list-style-image: none;
    position: relative;
}

.footer a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: #2f599b;
    text-decoration: none;
}


/*About Section Social Links*/

.social ul {
    color: black;
    padding: 3px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.5px;
    float: left;
    display: inline;
    list-style-image: none;
}

.social a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.social a:hover {
    color: #2f599b;
    text-decoration: none;
}


/*Product Gallery Menu*/

.productmenu {
    color: #2f599b;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.5px;
}